.welcomeContainer{
  width:97%;
  margin-left:25px;
  margin-right:25px;
  padding-top:20px; 
}

.headshot{
  border-radius: 50%
}

.skillset{
  width: 150px;
}

.skills {
  text-align: center;
}

.nameplate{
  text-align: center;
}

.portImg {
  width:600px;;
}

#github{
  padding-left: 0px;
}