.welcomeContainer{
  width:97%;
  margin-left:25px;
  margin-right:25px;
  padding-top:20px; 
}

.headshot{
  border-radius: 50%
}

body{
  background-image: url("../../images/stripes-light.png");
  background-repeat: repeat; 
  background-color: rgba(0,0,0,0.1);
}